.homeContainer{
    position: relative;
    overflow-x: hidden;
    position: relative;
    height: 100%;
}
  
/* hero section */
/* video */
.parallex{
    background: url("https://images.pexels.com/photos/6019761/pexels-photo-6019761.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.hero-img{
    width: 100vw;
    height: 100vh;
}
.youtube-container {
    overflow: hidden;
    width: 100%;
    aspect-ratio: 16/9;
      
    iframe {
        width: 300%;
        height: 100%;
        margin-left: -100%;
        pointer-events: none;
    }
}
  
/* custom cursor */
#hero{
    cursor: url('http://localhost:3000/icons/play-video.png')40 40, auto;
}
  
/* about us section */
/* description */
.description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
}
.desc-left{
    font-size: 1.5vw;
    width: 50%;
}
.logo-left{
    font-size: 1.8vw;
}
.logo-description{
    font-size: 8vw;
}
@media (max-width: 480px){
    .description{
        flex-direction: column-reverse;
        padding-top: 30px;
    }
    .desc-left{
        font-size: 16px;
        width: 90%;
        text-align: center;
    }
    .logo-left {
        font-size: 20px;
    }
}
  
/* awards */
.yogaClassAwards{
    display: flex;
    justify-content: center;
    gap: 9vw;
    padding: 150px;
}
.zoom-img{
    height: 16vw;
    transition: transform 0.5s ease;
}
.award{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    font-size: 1.75vw;
    text-align: center;
    text-transform: uppercase;
}
.zoom-img:hover{
    cursor: pointer;
    transform: scale(1.2);
}
@media (max-width: 1024px){
    .yogaClassAwards{
        padding: 100px;
    }
}
@media (max-width: 480px){
    .yogaClassAwards{
        flex-direction: column;
        padding: 50px;
        align-items: center;
    }
    .zoom-img{
        height: 22vw;
    }
    .award{
        width: 39vw;
        font-size: 2.75vw;
    }
}
  
/* line */
.line{
    width: 90%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
}
  
/* descriptionII */
  .descriptionII {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 60px;
    height: 150vh; 
}
.pinned-text {
    width: 483px;
    font-size: 4.1vw;
    text-align: center;
}
.pinned-text h1{
    margin: 0;
}
.pinned-text p{
    margin: 25px;
    font-weight: 100;
    text-transform: uppercase;
}
.pinned-text img{
    width: 4vw;
}
.wavy-line{
    font-family: verdana;
    letter-spacing: -4px;
    font-size: 1.69vw;
}
.vertical-yoga  {
    border-radius: 10px;
}
@media (min-width: 1024px) {
    .descriptionII {
        padding-bottom: 60px;
    }
}
@media (max-width: 1024px){
    .descriptionII{
        flex-direction: column-reverse;
        justify-content: space-evenly;
        height: 170vh;
    }
    .pinned-text{
        width: 100%;
    }
    .scrolling-image video, .scrolling-image{
        width: 100%;
    }
    .wavy-line{
        font-size: 3vw;
    }
}@media (max-width: 768px){
    .wavy-line{
        font-size: 4.5vw;
    }
}
@media (max-width: 480px){
    .descriptionII{
        flex-direction: column-reverse;
        height: 130vh;
    }
    .pinned-text{
        width: 100%;
    }
    .scrolling-image video, .scrolling-image{
        width: 100%
    }
    .pinned-text img{
        width: 6vw;
    }
    .wavy-line{
        font-size: 5.5vw;
    }
}
  
/* classes */
.classesContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}
.class{
    width: 480px;
}
.classImageContainer{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 70%;
    border-radius: .5rem;
    z-index: 2;
}
.class img {
    position: absolute;
    width: 100%; 
    height: 100%;
    transition: transform 0.3s ease;
}
.class img:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.classesContainer p{
    font-size: 16px;
}
.classSignup{
    cursor: pointer;
    background-color: var(--mainGreen);
    color: white;
    padding: .5rem;
    border-radius: .8rem;
    border: 1.5px solid #8fbe96;
    transition: 0.3s ease;
}
.classSignup:hover{
    background-color: var(--greenHover);
}
@media(max-width: 480px){
    .classImageContainer{
        width: 100%;
    }
    .classesContainer{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    .classesContainer h2{
        font-size: medium;
    }
}
  
/* testimonials */
.reviewsContainer{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.reviews{
    display: flex;
    gap: 50px;
    padding-left: 80px;
}
.review{
    line-height: 30px;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1 0 25%;
}
.review p{
    font-size: 16px;
}
.reviewsScrollbar{
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 3px;
    background-color: #d5d3d3; 
    overflow: hidden;
    margin-top: 80px;
}
.scrollbarProgress {
    position: absolute;
    left: 0;
    height: 100%;
    background-color: var(--mainGreen); 
    transition: width 0.1s ease-out;
}
.titleContainer {
    font-family: var(--titleFont);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    justify-content: left;
    margin: 100px 80px;
    text-transform: uppercase;
    line-height: 0;
}
  
@media (max-width: 900px) {
    .review {
        flex: 1 0 30%; 
    }
}
@media (max-width: 768px) {
    .review {
        flex: 1 0 100%; 
    }
    .reviewsScrollbar{
        margin-top: 0px;
    }
    .reviews{
        padding-left: 40px;
    }
}
@media(max-width: 480px){
    .titleContainer{
        width: 100%;
        margin-left: 0;
        line-height: 1;
        text-align: center;
    }
}
  
