.homeContainer{
    position: relative;
    overflow-x: hidden;
    position: relative;
    height: 100%;
}
  
/* hero section */
/* video */
.parallex{
    background: url("https://images.pexels.com/photos/6019761/pexels-photo-6019761.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-attachment: fixed;
    background-size: cover;
    background-position: center 150%;
}
.hero-img{
    width: 100vw;
    height: 70vh;
}
.youtube-container {
    overflow: hidden;
    width: 100%;
    aspect-ratio: 16/9;
      
    iframe {
        width: 300%;
        height: 100%;
        margin-left: -100%;
        pointer-events: none;
    }
}
@media (max-width: 480px){
    .hero-img{
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
}
  
/* custom cursor */
.hero.home{
    position: relative;
    cursor: none;
}
.customCursor{
    position: absolute;
    top: 50;
    left: 50;
    background-color: white;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 5rem;
    border: 1.5px solid black;
}
.customCursor p{
    text-transform: uppercase;
    font-family: var(--titleFont);
}
  
/* about us section */
/* description */
.description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
}
.desc-left{
    font-size: 1.5vw;
    width: 50%;
}
.logo-left{
    font-size: 1.8vw;
}
.logo-description{
    font-size: 8vw;
}
@media (max-width: 480px){
    .description{
        flex-direction: column-reverse;
        padding-top: 30px;
    }
    .desc-left{
        font-size: 16px;
        width: 90%;
        text-align: center;
    }
    .logo-left {
        font-size: 20px;
    }
}
  
/* awards */
.yogaClassAwards{
    display: flex;
    justify-content: center;
    gap: 9vw;
    padding: 150px;
}
.zoom-img{
    height: 16vw;
    transition: transform 0.5s ease;
}
.award{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    font-size: 1.75vw;
    text-align: center;
    text-transform: uppercase;
}
.zoom-img:hover{
    cursor: pointer;
    transform: scale(1.2);
}
@media (max-width: 1024px){
    .yogaClassAwards{
        padding: 100px;
    }
}
@media (max-width: 480px){
    .yogaClassAwards{
        flex-direction: column;
        padding: 50px;
        align-items: center;
    }
    .zoom-img{
        height: 22vw;
    }
    .award{
        width: 39vw;
        font-size: 2.75vw;
    }
}
  
/* line */
.line{
    width: 90%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
}
  
/* descriptionII */
  .descriptionII {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 60px;
    height: 150vh; 
}
.pinned-text {
    width: 600px;
    font-size: 4.4vw;
    text-align: center;
}
.pinned-text h1{
    margin: 0;
}
.pinned-text p{
    margin: 25px;
    font-weight: 100;
    text-transform: uppercase;
}
.pinned-text img{
    width: 4vw;
}
.wavy-line{
    font-family: verdana;
    letter-spacing: -4px;
    font-size: 1.69vw;
}
.vertical-yoga  {
    border-radius: 10px;
}
@media (min-width: 1024px) {
    .descriptionII {
        padding-bottom: 60px;
    }
}
@media (max-width: 1024px){
    .descriptionII{
        flex-direction: column-reverse;
        justify-content: space-evenly;
        height: 170vh;
    }
    .pinned-text{
        width: 100%;
    }
    .scrolling-image video, .scrolling-image{
        width: 100%;
    }
    .wavy-line{
        font-size: 3vw;
    }
}@media (max-width: 768px){
    .wavy-line{
        font-size: 4.5vw;
    }
}
@media (max-width: 480px){
    .descriptionII{
        flex-direction: column-reverse;
        height: 130vh;
    }
    .pinned-text{
        width: 100%;
    }
    .scrolling-image video, .scrolling-image{
        width: 100%
    }
    .pinned-text img{
        width: 6vw;
    }
    .wavy-line{
        font-size: 5.5vw;
    }
}
  
/* classes */
.classesContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}
.class{
    width: 480px;
}
.classImageContainer{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 70%;
    border-radius: .5rem;
    z-index: 2;
}
.class img {
    position: absolute;
    width: 100%; 
    height: 100%;
    transition: transform 0.3s ease;
}
.class img:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.classesContainer p{
    font-size: 16px;
}
.classSignup{
    cursor: pointer;
    background-color: var(--mainGreen);
    color: white;
    padding: .5rem;
    border-radius: .8rem;
    border: 1.5px solid #8fbe96;
    transition: 0.3s ease;
}
.classSignup:hover{
    background-color: var(--greenHover);
}
@media(max-width: 480px){
    .classImageContainer{
        width: 100%;
    }
    .classesContainer{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    .classesContainer h2{
        font-size: medium;
    }
}
  
/* testimonials */
.reviewsContainer{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.reviews{
    display: flex;
    gap: 50px;
    padding-left: 80px;
}
.review{
    line-height: 30px;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1 0 25%;
}
.review p{
    font-size: 16px;
}
.reviewsScrollbar{
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 3px;
    background-color: #d5d3d3; 
    overflow: hidden;
    margin-top: 80px;
}
.scrollbarProgress {
    position: absolute;
    left: 0;
    height: 100%;
    background-color: var(--mainGreen); 
    transition: width 0.1s ease-out;
}
.titleContainer {
    font-family: var(--titleFont);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    justify-content: left;
    margin: 100px 80px;
    text-transform: uppercase;
    line-height: 0;
}
  
@media (max-width: 900px) {
    .review {
        flex: 1 0 30%; 
    }
}
@media (max-width: 768px) {
    .review {
        flex: 1 0 100%; 
    }
    .reviewsScrollbar{
        margin-top: 0px;
    }
    .reviews{
        padding-left: 40px;
    }
}
@media(max-width: 480px){
    .titleContainer{
        width: 100%;
        margin-left: 0;
        line-height: 1;
        text-align: center;
    }
}
  
/* articles */
.article{
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.article .right{
    width: 890px;
    font-size: 16px;
}
.articleImgContainer{
    position: relative;
    overflow: hidden;
    width: 30%;
    padding-bottom: 20%;
    border-radius: .5rem;
    z-index: 2;
}
.articleImgContainer img{
    position: absolute;
    width: 100%; 
    height: 100%;
    transition: transform 0.3s ease;
}
.article img:hover{
    transform: scale(1.05);
}
.article .icon{
    width: 32px;
    height: 32px;
}
.article:hover{
    cursor: pointer;
}
.article:hover .right{
    text-decoration: underline;
}
.article:hover .icon{
    transform: rotate(360deg);
    transition: transform 1s ease-in-out;
}
@media (max-width: 1024px) {
    .articleImgContainer{
        width: 55%;
        padding-bottom: 25%;
    }
}
@media (max-width: 768px) {
    .article{
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .article .right{
        order: 3;
    }
    .articleImgContainer{
        order: 1;
    }
    .article .icon{
        order: 2;
    }
    .articleImgContainer{
        width: 70%;
        padding-bottom: 50%;
    }
}
@media (max-width: 480px) {
    .articleImgContainer{
        width: 100%;
        padding-bottom: 70%;
    }
}
  
/* footer */
.logo.footer{
    font-size: 3.2vw;
}
footer{
    margin-top: 7rem;
    background-color: var(--mainGreen);
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    overflow: hidden;
}
footer .top{
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
footer .top h1{
    font-size: 2vw;
    width: 50%;
}
footer .bottom{
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    padding-top: 5rem;
}
  footer .bottom h3{
    font-size: 2vw;
}
  .sendEmail{
    width: 25vw;
    background-color: var(--mainGreen);
    padding: 1rem;
    border: none;
    border-bottom: 3px solid white;
    height: 20px;
    font-size: 1.5vw;
    color: white;
}
  .sendEmail::placeholder{
    font-size: 1.5vw;
    color: white;
}
  .sendEmail:focus{
    outline: none;
}
  form button{
    background-color: var(--mainGreen);
    border: none;
}
  form button:hover{
    cursor: pointer;
}
  button img{
    width: 24px;
}
  .social a {
    display: block;
    text-decoration: none;
    line-height: normal;
    color: white;
    margin-bottom: 16px;
    font-size: 1vw;
}
  .contactInfo p{
    font-size: 1vw;
}
  .social a:hover{
    text-decoration: underline;
}
  .hidden{
    display: none;
}
@media(max-width: 1024px) {
    .social a, .contactInfo p {
        font-size: 2vw;
    }
    footer .bottom{
        width: 95%;
        justify-content: space-between;
    }
}
@media(max-width: 480px){
    button img{
        width: 14px;
    }
    .sendEmail{
        height: 10px;
        font-size: 12px;
    }
    footer .bottom{
        padding-top: 2rem;
    }
    footer .top h1{
        font-size: 14px;
    }
    footer .bottom h3, .sendEmail::placeholder{
        font-size: 12px;
    }
    .social a, .contactInfo p {
        font-size: 10px;
    }
    footer .bottom{
        justify-content: space-between;
    }
}