.classRegTitle{
    font-family: var(--titleFont);
    text-align: center;
    margin-top: 12rem;
}
form{
    background-color: var(--secondaryColor);
    width: 50%;
    margin: auto;
}
.personalInfo{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 80%;
}
.personalTitle, .classesTitle{
    font-family: var(--titleFont);
    padding-left: 1rem;
}
.availableClasses{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border: .5px solid black;
    margin-top: 1rem;
}
input{
    padding: .5rem;
}
.daySelect{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 80%;
}
select {
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.formButton{
    display: flex;
    justify-content: center; 
    padding-top: 3rem;
    padding-bottom: 1rem;
    button{
        padding: .5rem;
        transition: color 0.3s ease;
        transition: background-color 0.3s ease;
    }
    button:enabled {
        color: white;
    }
    button:enabled:hover {
        background-color: var(--greenHover);
    }
}
